.father-cards-products {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente */
    justify-content: space-between; /* Espacia el título y la card */
    margin-bottom: 40px; /* Añade espacio entre secciones */
    max-width: 80%;
    margin: auto; /* Añade espacio alrededor del contenedor y centra */
    padding: 20px; /* Espacio interno dentro del contenedor */
    gap: 20px;
}

.card-wrapper {
    display: flex;
    flex-direction: column; /* Asegura que el título esté encima de la card */
    align-items: center; /* Centra todo horizontalmente */
    width: 100%;
}

.text-products {
    text-align: center; /* Centra el texto del título */
    margin-bottom: 10px; /* Espacio debajo del título */
    font-weight: bold; /* Asegura que el título sea prominente */
}

.card {
    flex: 1; /* Permite que la card ocupe el espacio disponible */
    max-width: 45rem; /* Ajusta el tamaño de la card */
    margin-bottom: 20px; /* Espacio debajo de cada card */
}

.card img {
    height: auto;
    width: 100%;
    border-radius: 8px; /* Opcional: bordes redondeados */
}

.text-products{
    color: #fff;

}