
.inicio-secion-contacto {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    padding-top: auto; 
}


form {
    margin: 0 auto; 
    width: 300px; 
    padding: 20px;
    background-color: #f8f9fa; 
    border-radius: 8px; 
}



